<main class="d-flex flex-nowrap">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark sidebar-size">

    <a *ngIf="userService.isTeacher()" routerLink="/dashboard" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <fa-icon [icon]="icons.TROPHY" class="fs-2 me-3"></fa-icon>
      <span class="fs-4">Meister der Blöcke</span>
    </a>

    <a *ngIf="userService.isLoggedIn() && !userService.isTeacher()" routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <fa-icon [icon]="icons.TROPHY" class="fs-2 me-3"></fa-icon>
      <span class="fs-4">Meister der Blöcke</span>
    </a>

    <a *ngIf="!userService.isLoggedIn()" routerLink="/login" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <fa-icon [icon]="icons.TROPHY" class="fs-2 me-3"></fa-icon>
      <span class="fs-4">Meister der Blöcke</span>
    </a>

    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <!-- Visible only when logged in -->
      <ng-container *ngIf="userService.isLoggedIn()">
        <li class="nav-item mb-2" *ngIf="!userService.isTeacher()">
          <a routerLink="/home" routerLinkActive="active" class="nav-link text-white">
            <fa-icon [icon]="icons.HOUSE_USER" class="me-2"></fa-icon>
            Dashboard
          </a>
        </li>
        <li class="nav-item mb-2" *ngIf="!userService.isTeacher()">
          <a routerLink="/achievements" routerLinkActive="active" class="nav-link text-white">
            <fa-icon [icon]="icons.MEDAL" class="me-2"></fa-icon>
            Belohnungen
          </a>
        </li>
        <li class="nav-item mb-2" *ngIf="!userService.isTeacher()">
          <a routerLink="/statistics" routerLinkActive="active" class="nav-link text-white">
            <fa-icon [icon]="icons.RULER_HORIZONTAL" class="me-2"></fa-icon>
            Statistiken
          </a>
        </li>
        <li class="nav-item mb-2" *ngIf="!userService.isTeacher()">
          <a routerLink="/leaderboard" routerLinkActive="active" class="nav-link text-white">
            <fa-icon [icon]="icons.TROPHY" class="me-2"></fa-icon>
            Bestenlisten
          </a>
        </li>
        <li class="nav-item mb-2" *ngIf="userService.isTeacher()">
          <a routerLink="/dashboard" routerLinkActive="active" class="nav-link text-white">
            <fa-icon [icon]="icons.USER" class="me-2"></fa-icon>
            Dashboard
          </a>
        </li>
        <li class="nav-item mb-2" *ngIf="userService.isTeacher()">
          <a routerLink="/admin-statistics" routerLinkActive="active" class="nav-link text-white">
            <fa-icon [icon]="icons.TROPHY" class="me-2"></fa-icon>
            Statistiken
          </a>
        </li>
      </ng-container>
      <!-- Visible only when NOT logged in -->
      <ng-container *ngIf="!userService.isLoggedIn()">
        <li class="nav-item mb-2">
          <a routerLink="/login" routerLinkActive="active" class="nav-link text-white">
            <fa-icon [icon]="icons.SIGN_IN_ALT" class="me-2"></fa-icon>
            Login
          </a>
        </li>
      </ng-container>
    </ul>
    <hr>

    <div class="dropdown" *ngIf="userService.isLoggedIn()">
      <a href="#"
         class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
         data-bs-toggle="dropdown"
         aria-expanded="false">

        <fa-icon
          [icon]="icons.USER"
          class="me-2 align-self-center"
        ></fa-icon>

        <strong>{{ userService.getUser()?.firstName || 'User' }}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li  *ngIf="!userService.isTeacher() && userService.isLoggedIn()" >
          <a class="dropdown-item pointer" href="/settings">
            <fa-icon [icon]="icons.SLIDERS" class="me-2"></fa-icon>
            Einstellungen
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a class="dropdown-item pointer" (click)="logout()">
            <fa-icon [icon]="icons.ARROW_RIGHT_FROM_BRACKET" class="me-2"></fa-icon>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>
