<app-breadcrumb [breadcrumbs]="[
  { label: 'Dashboard', url: '/home' }
]"></app-breadcrumb>

<div *ngIf="loading" class="text-muted">
  Lade Challenges...
</div>

<div *ngIf="!loading && challenges.length == 0" class="text-muted">
  Aktuell sind keine Challenges verfügar, komm später wieder!
</div>

<!-- I want this to look somehow like the duolingo path interface -->
<div *ngIf="!loading">
  <div *ngIf="challenges?.length">
    <div *ngFor="let challenge of challenges; let ci = index" class="challenge mb-5">
      <!-- Challenge header -->
      <div class="challenge-header" [style.--i]="getGlobalIndex(ci)">
        <h2 class="title mb-1">{{ challenge.title }}</h2>
        <p class="description mb-4">{{ challenge.description }}</p>
      </div>

      <!-- Path -->
      <div class="path">
        <div
          *ngFor="let level of challenge.levels; let i = index"
          class="path-node"
          [class.locked]="!level.isActive"
          [class.completed]="level.isCompleted"
          (click)="startLevel(level)"
          [style.--i]="getGlobalIndex(ci, i)"
        >
          <!-- Connector -->
          <div *ngIf="i !== 0" class="connector" [class.active]="level.isActive && challenge.levels[i - 1].isActive"></div>

          <!-- Level Circle -->
          <div class="level-circle">
            <span *ngIf="!level.isCompleted">{{ i + 1 }}</span>
            <span *ngIf="level.isCompleted">
              <fa-icon [icon]="icons.STAR"></fa-icon>
            </span>
          </div>

          <!-- Info -->
          <div class="level-info">
            <div class="title-row">
              <div class="title">{{ level.title }}</div>
                <span class="mode-badge" [ngClass]="level.mode">
                  <ng-container *ngIf="level.mode === 'code'">
                    <fa-icon [icon]="icons.CODE"></fa-icon>
                  </ng-container>
                  <ng-container *ngIf="level.mode === 'blocks'">
                    <fa-icon [icon]="icons.PUZZLE"></fa-icon>
                  </ng-container>
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
