<app-breadcrumb [breadcrumbs]="[
  { label: 'Statistiken', url: '/statistics' },
]"></app-breadcrumb>

<div class="statistics-container text-white">
  <h2 class="title">📊 Deine Statistiken</h2>

  <!-- Loading -->
  <div *ngIf="loading" class="loading">
    Lade deine Statistiken...
  </div>

  <!-- Empty -->
  <div *ngIf="!loading && stats.totalCompletedLevels === 0" class="empty-card">
    Du hast noch kein Level gespielt!
    <br>
    Starte ein Level und erklimme die Bestenliste!
  </div>

  <!-- PLAYER SUMMARY -->
  <div *ngIf="!loading && stats.totalCompletedLevels && stats.totalCompletedLevels > 0" class="summary-card">
    <div class="trophy">🏆</div>

    <div>
      <div class="big-number">
        {{ stats.totalCompletedLevels }}
      </div>

      <div class="subtitle">
        Level abgeschlossen
      </div>
    </div>
  </div>


  <!-- STAT GRID -->
  <div class="stats-grid" *ngIf="stats.totalCompletedLevels! > 0">
    <div class="stat-card">
      <div class="stat-icon">⭐</div>
      <div class="stat-value">{{ stats.totalAttempts }}</div>
      <div class="stat-label">Versuche</div>
    </div>

    <div class="stat-card">
      <div class="stat-icon">🔥</div>
      <div class="stat-value">
        {{ stats.totalAttempts! / stats.totalCompletedLevels! | number:'1.0-1' }}
      </div>
      <div class="stat-label">Ø Versuche / Level</div>
    </div>

    <div class="stat-card xp-card">
      <div class="stat-icon">💚</div>
      <div class="stat-value">{{ stats.xp }}</div>
      <div class="stat-label">XP gesammelt</div>
    </div>
  </div>


  <!-- CHALLENGES -->
  <div class="challenge-section"
       *ngIf="stats.totalCompletedLevels! > 0">

    <h3>🏅 Challenges</h3>

    <div class="challenge-row" *ngFor="let challenge of stats.levelsPerChallenge">

      <!-- Challenge Name -->
      <span class="challenge-name">
    {{ challenge.title }}
  </span>

      <!-- Progress Bar -->
      <div class="bar">
        <div class="fill"
             [style.width.%]="
           challenge.total
             ? (challenge.completed / challenge.total) * 100
             : 0
         ">
        </div>
      </div>

      <!-- Completed / Total -->
      <span class="challenge-count">
    {{ challenge.completed }} / {{ challenge.total }}
  </span>

    </div>
  </div>
</div>
