<app-breadcrumb [breadcrumbs]="[
  { label: 'Einstellungen', url: '/settings' }
]"></app-breadcrumb>

<div *ngIf="loading" class="text-muted">
  Lade Einstellungen...
</div>

<div *ngIf="!loading" class="settings-card shadow">
  <!-- Hints -->
  <div class="setting-item">
    <div>
      <h6>Hinweise anzeigen</h6>
      <small class="text-muted">
        Zeigt Lösungshinweise während eines Levels
      </small>
    </div>

    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" [(ngModel)]="user.settings.showHints"/>
    </div>
  </div>

  <!-- Animations -->
  <div class="setting-item">
    <div>
      <h6>Animationen verwenden</h6>
      <small class="text-muted">
        Animierte Elemente anzeigen
      </small>
    </div>

    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" [(ngModel)]="user.settings.showAnimations"/>
    </div>
  </div>

  <!-- Save -->
  <div class="text-end mt-4">
    <button class="btn btn-primary" (click)="save()" [disabled]="saving">
      <fa-icon [icon]="icons.FLOPPY_DISK" class="me-2"></fa-icon>
      <span>Speichern</span>
    </button>
  </div>
</div>
