<app-breadcrumb [breadcrumbs]="[
  { label: 'Statistiken', url: '/admin-statistics' },
]"></app-breadcrumb>

<div class="text-white">
  <h2 class="title">
    <fa-icon [icon]="icons.TROPHY" class="me-1"></fa-icon>
    Statistiken
  </h2>

  <!-- Loading -->
  <div *ngIf="loading" class="loading text-muted">
    Bitte Account auswählen
  </div>

  <!-- Empty -->
  <div *ngIf="!loading && statistics.totalCompletedLevels ===  0" class="text-muted">
    Für den Account gibt es keine Statistiken
    <br>
    Mindestens ein Level muss gespielt und abgeschlossen werden
  </div>

  <div *ngIf="!loading && statistics.totalCompletedLevels && statistics.totalCompletedLevels >= 0">
    <table class="table table-dark table-hover">
      <thead>
      <tr>
        <th>Gespielte Level</th>
        <th>Komplettierte Level</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ statistics.totalAttempts }}</td>
        <td>{{ statistics.totalCompletedLevels }}</td>
      </tr>
      </tbody>
    </table>

    <div class="challenge-row" *ngFor="let challenge of statistics.levelsPerChallenge">
      <!-- Challenge Name -->
      <span class="challenge-name">
      {{ challenge.title }}
    </span>

      <!-- Progress Bar -->
      <div class="bar">
        <div class="fill" [style.width.%]="challenge.total ? (challenge.completed / challenge.total) * 100: 0">
        </div>
      </div>

      <!-- Completed / Total -->
      <span class="challenge-count">
      {{ challenge.completed }} / {{ challenge.total }}
    </span>

    </div>
  </div>
</div>
